asgiref==3.6.0
asttokens==2.2.1
backcall==0.2.0
boto3==1.26.65
botocore==1.29.65
colorama==0.4.6
decorator==5.1.1
Django==3.2.13
django-appconf==1.0.5
django-dotenv==1.4.2
django-extensions==3.2.1
django-imagekit==4.1.0
django-storages==1.13.2
executing==1.2.0
ipython==8.8.0
jedi==0.18.2
jmespath==1.0.1
matplotlib-inline==0.1.6
parso==0.8.3
pickleshare==0.7.5
pilkit==2.0
Pillow==9.4.0
prompt-toolkit==3.0.36
psycopg2-binary==2.9.5
pure-eval==0.2.2
Pygments==2.14.0
python-dateutil==2.8.2
python-dotenv==0.21.1
pytz==2022.7.1
s3transfer==0.6.0
six==1.16.0
sqlparse==0.4.3
stack-data==0.6.2
traitlets==5.8.1
urllib3==1.26.14
wcwidth==0.2.6
