body {
    background-image: url('/static/images/welcome_bg.jpg');
    right: -1px;
}
.mobile-display{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
    text-align: center;
}
.wrapper-div {
    margin: auto;
    width: 40%;
}
.welcome-img {
    width: 90%;
    border-radius: 30px;
}
.intro-txt {
    font-weight: 900;
    font-size: x-large;
}
.start-btn {
    border: none;
    border-radius: 50px;
    height: 4rem;
    width: 90%;
    background-color: #ffd200;
    font-weight: bold;
    font-size: x-large;
}