body {
    background-image: url('/static/images/welcome_bg.jpg');
}
.result-info{
    position: absolute;
    top: 7%;
}
.match-quote {
    font-weight: 700;
}
.brawler-name {
    color: #f1d999;
    font-weight: 900;
    font-size: xx-large;
}
.quot-mark {
    font-weight: 900;
    font-size: xx-large;
}
.quote {
    font-size: large;
}
.result-img {
    width: 80%;
}
.restart-btn {
    border: none;
    border-radius: 50px;
    height: 4rem;
    width: 70%;
    background-color: #ffd200;
    font-weight: bold;
    font-size: x-large;
}