body {
    background-color: #f8f9fa;
}
.wrapper-div {
    margin: auto;
    width: 40%;
}
.welcome-img {
    width: fit-content;
    border-radius: 40px;
}
.intro-txt {
    font-weight: bold;
}
.start-btn {
    border: none;
    border-radius: 50px;
    height: 4rem;
    width: 50%;
    background-color: #ffd200;
    font-weight: bold;
    font-size: x-large;
}