{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>브롤스타즈 MBTI 테스트</title>
    <link rel="icon" href="{% static 'images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/question.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/question.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="wrapper">
      <div id="main" class="mobile-display main container text-center">
        <h1 id="question-tag" class="mb-4">Question
          <span id="question_no">{{question.pk}}</span>
          / 12</h1>
        <h2 id="question">{{ question.question }}</h2>
        <div class="my-4"></div>
        <button type="button" id="answer1" class="answer my-2" data-pk="{{question.pk}}" data-letter="{{question.answer1_letter}}" data-mbti="{{mbti}}">{{question.answer1}}</button>
        <button type="button" id="answer2" class="answer my-2" data-pk="{{question.pk}}" data-letter="{{question.answer2_letter}}" data-mbti="{{mbti}}">{{question.answer2}}</button>
      </div>
      <div id="loader" class="mobile-display container" style="display:none;">
        <img src="{% static '/images/brawl_loading.gif' %}" alt="loading_gif" style="width:60%;">
        <h4 class="my-5" style="color:white;">어울리는 브롤러를 찾는 중이에요...</h4>
      </div>
    </div>
  </body>

  <script src="{% static 'js/question.js' %}"></script>

</html>
